                        run = "PORT=3000 npm start"
language = "nodejs"
modules = ["nodejs-20"]

[env]
NODE_ENV = "development"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80
