entrypoint="app.py"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606", "nodejs-23", "php-8.2", "postgresql-17", "python-3.9", "replit-rtld-loader", "nodejs-with-prybar-18"]

run = ["python", "app.py"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python app.py"]

[objectStorage]
defaultBucketID = "replit-objstore-cbc83954-3b21-4c0c-91b9-6ec6f5061ad8"

[workflows]
runButton = "Build and Run"

[[workflows.workflow]]
name = "Build and Run"
author = 38636460

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash build_and_run.sh"

[[ports]]
localPort = 8080
externalPort = 80
